<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Image with Delay</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000000ff;
        }
        #image-container {
            display: none;
        }
    </style>
</head>
<body>
    <div id="image-container">
        <img src="{{ url_for('static', filename='images/logo-light.svg') }}" style="height: 150px;" alt="Centered Image">
    </div>
    
    <script>
        // Show the image after 0.5s
        setTimeout(() => {
            document.getElementById('image-container').style.display = 'block';
        }, 500);

        // Redirect to dashboard after 2s
        setTimeout(() => {
            window.location.href = "{{ url_for('main') }}";
        }, 2000);
    </script>
</body>
</html>
