<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizontal Scroll Buttons</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            font-style: normal;
        }

        /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            width: 99%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            /* border: 1px solid black; */
            /* border-bottom: 1px solid grey; */
        }

        .left-section {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .logo img {
            width: 35px;
            margin-left: 10px;
        }


    </style>
</head>
<body>


    <header class="navbar">
        <div class="left-section">
            <!-- <div class="menu">
                <img src="{{ url_for('static', filename='images/hamburger_dark.svg') }}" alt="Menu">
            </div> -->
            <div class="logo">
                <img src="{{ url_for('static', filename='images/leftarrow.png') }}" onclick="location.href='{{ url_for('profile') }}'" alt="Back">
            </div>
        </div>
    </header>

    <br><br>

    <center>
        <h2 style="color: #3a3a3a;">Terms & Conditions</h2>
        <br>
        <p style="color: #3a3a3a; text-align: left;"><strong>General Terms</strong></p>
        <p style="color: #3a3a3a; text-align: left;">By getting to and utilising this site, you acknowledge that you simply are subject to these Terms and Conditions. We save the correct to adjust or overhaul these terms at any time without earlier taking note. It is your obligation to check for upgrades routinely.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Products and Services</strong></p>
        <p style="color: #3a3a3a; text-align: left;">MiniplexIndia specialises in giving customised domestic theatre establishment administrations, acoustic arrangements, and related items. Our administrations are outlined to meet the specific needs of each client. Whereas we endeavour to provide the most excellent comes about, we don't ensure that the administrations will continuously meet your individual desires.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Consultation and Installation</strong></p>
        <p style="color: #3a3a3a; text-align: left;">Our administrations incorporate meeting, plan, and installation of domestic theatres and acoustic frameworks. Any costs for plan discussions will be examined forthright. Upon concurring with a venture, we are going to give a nitty gritty proposition sketching out the scope of work, costs, and timeline. It is your obligation to survey and endorse the proposition some time recently.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Orders and Payments</strong></p>
        <p style="color: #3a3a3a; text-align: left;">Once an arrangement is set for items or administrations, you may get an affirmation through email. This serves as an affirmation that we have gotten your arrangement.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Instalment Terms</strong></p>
        <p style="color: #3a3a3a; text-align: left;">Payments must be made in full as per the concurred plan. We accept instalments by means of bank exchanges, credit cards, and other endorsed strategies.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Non-Payment</strong></p>
        <p style="color: #3a3a3a; text-align: left;">Disappointment to create instalments as concurred may result in deferred or cancelled administrations.</p>
        
        <p style="color: #3a3a3a; text-align: left;"><strong>Shipping and Delivery</strong></p>
        <p style="color: #3a3a3a; text-align: left;">For equipment or components obtained through us, shipping and conveyance timelines will be talked about at the time of buy. We work with trusted partners to guarantee your equipment is conveyed securely. Any delays due to shipping carriers or traditions are beyond our control.</p>

        <p style="color: #3a3a3a; text-align: left;"><strong>Warranties</strong></p>
        <p style="color: #3a3a3a; text-align: left;">All items sold by MiniplexIndia come with producer guarantees. Guarantee periods and terms may change depending on the item. It would be ideal if you allude to the manufacturer’s warranty for subtle elements. We offer a constrained guarantee on establishment administrations, covering any issues specifically caused by dishonourable establishments for up to 1 year from the date of establishment.</p>


    </center>
</body>
</html>
